services:
  # zookeeper:
  #   image: confluentinc/cp-zookeeper:7.7.7
  #   container_name: zookeeper
  #   environment:
  #     ZOOKEEPER_CLIENT_PORT: 2181
  #     ZOOKEEPER_TICK_TIME: 2000
  #   ports:
  #     - "2181:2181"

  kafka1:
    image: confluentinc/cp-kafka:8.0.3
    container_name: kafka1
    ports:
      - "9094:9094"
    environment:
      CLUSTER_ID: kafka
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_BROKER_ID: 1
      KAFKA_NODE_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9094,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093,2@kafka2:9093,3@kafka3:9093

  kafka2:
    image: confluentinc/cp-kafka:8.0.3
    container_name: kafka2
    ports:
      - "9095:9095"
    environment:
      CLUSTER_ID: kafka
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_BROKER_ID: 2
      KAFKA_NODE_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9095,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9095
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093,2@kafka2:9093,3@kafka3:9093

  kafka3:
    image: confluentinc/cp-kafka:8.0.3
    container_name: kafka3
    ports:
      - "9096:9096"
    environment:
      CLUSTER_ID: kafka
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_BROKER_ID: 3
      KAFKA_NODE_ID: 3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9096,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:9096
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka1:9093,2@kafka2:9093,3@kafka3:9093

  kafka-rest:
    image: confluentinc/cp-kafka-rest:8.1.1
    container_name: kafka-rest
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    ports:
      - "8082:8082"
    environment:
      KAFKA_REST_LISTENERS: http://0.0.0.0:8082
      KAFKA_REST_BOOTSTRAP_SERVERS: PLAINTEXT://kafka1:9094,PLAINTEXT://kafka2:9095,PLAINTEXT://kafka3:9096
      KAFKA_REST_HOST_NAME: kafka-rest
      KAFKA_REST_AUTHENTICATION_METHOD: NONE

  confluent-cli:
    image: confluentinc/confluent-cli:4.48.0
    container_name: confluent-cli
    depends_on:
      - kafka1
      - kafka2
      - kafka3
    entrypoint: ["tail", "-f", "/dev/null"]
    environment:
      CONFLUENT_REST_URL: http://kafka-rest:8082

  apicurio-registry:
      image: apicurio/apicurio-registry:3.1.6
      container_name: apicurio-registry
      depends_on:
        - kafka1
        - kafka2
        - kafka3
      ports:
        - "8080:8080"
      environment:
        REGISTRY_STORAGE_TYPE: kafka
        REGISTRY_KAFKA_BOOTSTRAP_SERVERS: kafka1:9094,kafka2:9095,kafka3:9096
        REGISTRY_KAFKA_TOPIC: _apicurio-registry
        REGISTRY_LOG_LEVEL: INFO

  mysql:
    image: mysql:8.0.44-debian
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: default
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
    volumes:
      - ./initdb:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql
    command: >
      --server-id=123456
      --log-bin=mysql-bin
      --binlog-format=ROW
      --binlog-row-image=FULL
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
      --max-allowed-packet=512M

  connect:
    image: debezium/connect:3.0.0.Final
    container_name: connect
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - mysql
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka1:9094,kafka2:9095,kafka3:9096
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
      # Converters (JSON is easiest for testing, Avro is better for Prod)
      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    depends_on:
      - kafka1
      - kafka2
      - kafka3
      - connect
      - apicurio-registry
    ports:
      - "8084:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka1:9094,kafka2:9095,kafka3:9096
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://apicurio-registry:8080/apis/ccompat/v7
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: debezium-connect
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://connect:8083

  flink-jm:
    image: flink:scala_2.12-java21
    container_name: flink-jm
    ports:
      - "8081:8081" # Flink Web Dashboard
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jm

  flink-tm:
    image: flink:scala_2.12-java21
    container_name: flink-tm
    depends_on:
      - flink-jm
    command: taskmanager
    scale: 1 # Increase this if you need more parallelism
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: flink-jm
        taskmanager.numberOfTaskSlots: 2

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-data:/data
    command: server /data --console-address ":9001"

  iceberg-rest:
    image: apache/iceberg-rest-fixture:1.10.1
    container_name: iceberg-rest
    ports:
      - "8181:8181"
    environment:
      AWS_ACCESS_KEY_ID: admin
      AWS_SECRET_ACCESS_KEY: password
      AWS_REGION: us-east-1
      CATALOG_WAREHOUSE: s3://iceberg/
      CATALOG_IO__IMPL: org.apache.iceberg.aws.s3.S3FileIO
      CATALOG_S3_ENDPOINT: http://minio:9000
      CATALOG_S3_PATH__STYLE__ACCESS: true

  trino:
    image: trinodb/trino:479
    container_name: trino
    ports:
      - "8086:8080"
    volumes:
      - ./trino/etc:/etc/trino
    depends_on:
      - iceberg-rest
      - minio

  postgres:
    image: postgres:18-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7.4-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: >
      redis-server 
      --requirepass "redis"
      --appendonly yes
      --aof-use-rdb-preamble yes
      --save 60 1
    volumes:
      - redis-data:/data

  authentik-server:
    image: authentik/server:2025.12.1
    container_name: authentik-server
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: postgres
      AUTHENTIK_POSTGRESQL__NAME: default
      AUTHENTIK_POSTGRESQL__PASSWORD: postgres
      AUTHENTIK_SECRET_KEY: vA1BqQrB92Jg/zYjiB8WLc+O4WAbHfuRC4cj6t+BSbuZs07a7IdmCM+M7fK6Jg8KcSL0frxZpoe2rl5M
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
    volumes:
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
    ports:
      - "9002:9000"
      - "9443:9443"
    depends_on:
      - postgres
      - redis

  authentik-worker:
    image: authentik/server:2025.12.1
    container_name: authentik-worker
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__USER: postgres
      AUTHENTIK_POSTGRESQL__NAME: default
      AUTHENTIK_POSTGRESQL__PASSWORD: postgres
      AUTHENTIK_SECRET_KEY: vA1BqQrB92Jg/zYjiB8WLc+O4WAbHfuRC4cj6t+BSbuZs07a7IdmCM+M7fK6Jg8KcSL0frxZpoe2rl5M
      AUTHENTIK_ERROR_REPORTING__ENABLED: true
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./authentik/media:/media
      - ./authentik/custom-templates:/templates
      - ./authentik/certs:/certs
    depends_on:
      - postgres
      - redis

volumes:
  mysql-data:
  minio-data:
  postgres-data:
  redis-data:
